.offers {
  width: 65%;
  /* height: 60vh; */
  display: flex;
  margin: auto;
  padding: 100px 140px;
  background: linear-gradient(180deg, #fde1ff, #e1ffea22 100%);
}
.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.left h1 {
  font-size: 50px;
  font-weight: 500;
}
.left button {
  width: 40%;
  background-color: red;
  padding: 15px;
  border-radius: 23px;
  border: none;
  outline: none;
  color: white;
  font-size: 18px;
  margin-top: 30px;
  cursor: pointer;
}

.left button:hover {
  background-color: black;
  transition: 0.3s;
}
.left p {
  font-size: 23px;
}
.right {
    flex: 1;

  display: flex;
  justify-content: flex-end;
  padding: 10px;
  /* margin-right: 80px; */
}
/* .right img{
    width: 300px;
    height: 400px;
} */

@media (max-width: 768px){
  .offers{
    /* width: 80%; */
    flex-direction: column;
    padding: 10px 50px;
    justify-content: center;
    align-items: center;
  }
  .left h1 {
    font-size: 30px;
    
  }
  .right{
    justify-content: center;
  }
  .left button{
    width: 80%;
  }
}